.login-box{
	width:380px;
	margin:10px auto 0;
}
.search-box{
	margin-top:200px;
}
.search-btn{
	margin: 0 0 0 20px;
}
.text-length{
	width:400px;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
	background: url('../images/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
	color: #fff;
}
.padding-notop{
	padding:0 16px;
}
.no-padding{
	padding:0;
}
.image{
	width:100px;
	height:90px;
}
.margin_5{
	margin-top:5px;
}
.select{
	outline:none;
	border:none;
	margin-right: 5px;
}
.select:active{
	outline:none;
	border:none;
}
.topBack{
	color:white;
	display:block;
	background:#CCC;
	border-radius:10px;
	position:fixed;
	bottom:4%;
	right:2%;
}
.Font{
	font-size:48px;
}